# IntelliJ IDEA
.idea/
.DS_Store
*.iml
*.iws
*.ipr

# Gradle
.gradle/
build/
.kotlin/
gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/libs.versions.toml

# Android
local.properties
.settings/
.project
.classpath
*.hprof
*.ap_
*.apk
*.dex
*.class
/bin
/gen
/out
.mapping
listing.txt
*.jks
*.keystore
!app/debug.keystore
google-services.json
secrets.properties
*.log
**/build/
captures/
.externalNativeBuild
.cxx
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Miscellaneous
.DS_Store
Thumbs.db
