*.iml
.gradle
local.properties
.idea
.DS_Store
**/build/
captures
.externalNativeBuild
.cxx
.settings/
.project
.classpath
*.hprof
*.ap_
*.apk
*.dex
*.class
bin/
gen/
out/
.mapping
listing.txt
*.jks
*.keystore
google-services.json
secrets.properties
