name: Stable Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build_stable:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Production Release
        run: ./gradlew assembleProdRelease

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/outputs/apk/prod/release/app-prod-release.apk
          generate_release_notes: true
